@tailwind base;
@tailwind components;
@tailwind utilities;

 .cart-btn {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 40px;
    width: 150px;
}

.controls {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2px;
    border: #fff;
    color: #c73a0f;
}
.add-or-remove-item{
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: #c73a0f;
    color: white;
}
.minus-btn{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: url(/assets/images/icon-decrement-quantity.svg) no-repeat center center;
}
.minus-btn:hover{
    filter: grayscale(100%);
}
.add-btn{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: url(/assets/images/icon-increment-quantity.svg) no-repeat center center;
    background-position:center center;
}

