@tailwind base;
@tailwind components;
@tailwind utilities;

 .cart-btn {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 40px;
    width: 150px;
}

.controls {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2px;
    border: #fff;
    color: #c73a0f;
}

.inner-btn {
    background-color: #fff;
    color: #c73a0f;
    border: 1px solid;
    border-radius: 50%;
    padding: 1px 3px;
    font-size: 16px;
    cursor: pointer;
}
.inner-btn .active{
    color: #c73a0f;
    border: 1px solid;
    border-radius: 50%;
    padding: 1px 3px;
    font-size: 16px;
    cursor: pointer;
}
.quantity {
    font-size: 18px;
    padding: 0 10px;
    color: #fff;
}